<nav class="navbar navbar-light navbar-expand-md bg-ligth">
    <i class="navbar-brand">
        <img src="/assets/asklogo.png" id="logo" class="ml-5">
    </i>
    <button class="navbar-toggler mr-auto ml-auto" data-toggle="collapse" data-target="#nav-target">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    </div>
</nav>